@page "/Register"
@using BlazorApp.Services
@using DTOs
@inject IUserService UserService

<EditForm Model="@_userDto" OnValidSubmit="CreateUser">
    
    <div>
        <label>Username: </label>
        <InputText @bind-Value="_userDto.UserName"/>
        <ValidationMessage For="@(() => _userDto.UserName)"/>
    </div>
    
    <div>
        <label>Password: </label>
        <InputText @bind-Value="_userDto.Password" type="password"/>
        <ValidationMessage For="@(() => _userDto.Password)"/>
    </div>
    
    <button type="submit">Register</button>
</EditForm>

@code {
    private UserDTO _userDto = new();

    private async Task CreateUser()
    {
        try
        {
            await UserService.AddUserAsync(_userDto);
        }
        catch (Exception ex)
        {
            Console.WriteLine("Registration failed: " + ex.Message);
        }
    }
}